<div id="form-create-activity">
    <h2>Nova Atividade</h2>
    <input name="title" type="text">
    <input name="date" type="date">
    <textarea name="description"></textarea>
    <button onclick="createActivity()">Criar</button>
<div>

<script type="text/javascript">
    alert("INFERNO");

    function createActivity() {
        let inputName = document.querySelector('input[name="title"]');
        let inputDate = document.querySelector('input[name="date"]');
        let inputDescription = document.querySelector('textarea[name="description"]');

        (async () => {
            const rawResponse = await fetch('<%= activities_create_url %>', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    activity: {
                        name: inputName.value,
                        date: inputDate.value,
                        description: inputDescription.value
                    }
                })
            });
            const content = await rawResponse.json();

            console.log(content);
        })();
    }
</script>
